[Unit]
Description=Ark MarketPlace API production
AssertPathExists=/usr/bin/ark-marketplace-api-production
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/usr/bin/ark-marketplace-api-production --config-path /etc/ark-project/api-marketplace.config.production.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target