Source: co.screenshot.ark-marketplacce-api
Version: 0.1.0
Section: microservice
Priority: extra
Maintainer: ScreeshotLabs <contact@screenshot.co>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: git@github.com:arkprojectnfts/ark-services.git
Vcs-Browser: http://github.com/arkprojectnfts/ark-services.git

Package: co.screenshot.ark-marketplacce-api
Description: A price engine api to get price from exchanges.
Build-Depends: debhelper (>= 8.0.0)
Depends: openssl
Section: utils
Priority: extra
Architecture: any
Tag: ark::priceengine, purpose::cli/daemon/datalake, role::microservice/developer, compatible::x86