[Unit]
AssertPathExists=/usr/bin/ark-indexer-transactions

[Service]
WorkingDirectory=~
ExecStart=/usr/bin/ark-indexer-transactions
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
Alias=ark-indexer-transactions
WantedBy=default.target