[Unit]
Description=Ark MarketPlace API %i
AssertPathExists=/usr/bin/ark-metadata-marketplace
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/usr/bin/ark-metadata-marketplace --config-path /etc/ark-project/ark-metadata-marketplace.config.%i.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target