[Unit]
Description=Starknet Sequencer Adapter
AssertPathExists=/usr/bin/starknet-sequencer-adapter
After=network.target

[Service]
ExecStart=/usr/bin/starknet-sequencer-adapter
Restart=always
WorkingDirectory=~
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
Alias=starknet-sequencer-adapter
